@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 100vw;
    margin: 0 auto;
    background-image: url("img/index/index3.jpg");
}



.grid {
    display: grid;
    grid-template-columns: 850px 1fr ;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "menuIndex menuIndex"
        "decorIndex loginIndex";
}

/*
============= Style for MENU ============
*/
.menuIndex {
    grid-area: menuIndex;
    width: 70vw;
    text-align: center;
    margin: 0 auto;
}
nav {
    width: 70vw;
    height: 100px;
    padding: 0 auto;
    position: fixed;
}
nav ul {
    text-align: center;
    
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 150px;
}
nav ul li a {
    font-family: fontLink;
    font-size: 19px;
    line-height: 100px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration-line: none;
}
nav ul li a:hover {
    color: #ffa500;
    border-bottom: 1px solid #ffa500;
}




/*
============= Style for DECOR ============
*/
.decorIndex {
    grid-area: decorIndex;
    width: 100%;
    height: calc(100vh - 120px);
    margin: 10px 0;
}
.title {
    width: 650px;
    height: 400px;
    background-color: rgba(0, 114, 255, 0.1);
    /* background-color: rgba(0, 188, 212, 0.1); */
    box-shadow: -1px 4px 7px rgba(0, 0, 0, 0.8);
    margin-left: 150px;
    padding-top: 50px;
    padding-left: 50px;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
}
.title>h3 {
    font-size: 23px;
    font-family: fontLink;
    color: rgba(0, 0, 0, 0.4);
}
.title>h2 {
    margin-left: 25px;
    font-size: 61px;
    font-family: monospace;
    color: #ffb732;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
}

/*
============= Style for LOGIN ============
*/
.loginIndex {
    grid-area: loginIndex;
    text-align: center;
    width: 100%;
    margin: 10px 0;
}
.form {
    width: 400px;
    height: 400px;
    margin-right: 50px;
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.6);
}
.form>h2 {
    font-size: 33px;
    font-family: fontText;
    color: #ffa500;
}
.form-content {
    margin: 50px auto 25px;
}
.form-content input {
    width: 280px;
    height: 50px;
    font-family: fontText;
    border-radius: 7px;
    margin: 10px auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 0.5px solid rgba(255, 165, 0, 0.9);
    box-shadow: 0px 2px 4px rgba(255, 165, 0, 0.4);

    
}
.form-content p {
    margin-top: 5px;
}
.form-content .fpw a,
.form-content .newacc a  {
    outline: none;
    font-family: fontText;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
}
.form-content .fpw a:hover,
.form-content .newacc a:hover  {
    color: #ffa500;
}
.form-submit {
    margin: 15px auto;
    text-align: center;
} 
.form-submit button{
    cursor: pointer;
    font-family: fontText;
    font-size: 19px;
    width: 280px;
    height: 50px;
    color: #ffedcc;
    background-color: #ffa500;
    border: none;
    border-radius: 11px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 850px) {
    

}












/*
================================= FONT FACE ============================
*/
@font-face {
    font-family: fontLink;
    src: url("font/SanFranciscoText-Medium.otf");
}
@font-face {
	font-family: fontText;
	src: url("font/SanFranciscoText-Light.otf");
}
